
p{
    line-height: 2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.bar {
   
    flex-grow: 1;
    background-color: black;
  
    padding-top:8vw;
    padding-bottom: 2vw; 
     border-right: 2px solid white;
    
    
}
ul li {
    list-style-type: none;
    float: left;
    width: 4%;
}
ul li img {
    width: 100%;
    height: 100%;
}
li a img:hover{
    opacity: 0.7;
}
.catalogue {
   border-top: 1px solid blue;
   border-bottom: 1px solid blue;
    text-align: center;
   
    padding-top:20px;
    margin:10px;
    border-radius: 10px;
    color: blue;
    text-decoration: none;
    padding-bottom: 1vw;
    
}
.containerr {
    padding-right: 2vw;
    padding-top: 5vw;
   padding-left: 2vw;
    padding-bottom: 5vw;
    background-color:  #97d4ed;
    flex-grow: 4;
}

.list_bai {
    padding-top:0px;
    padding-bottom: 0px;
    background-color: blue;
    height:4%;
}
/* .so_bai {
   
} */

.content {
    border:3px solid;
    border-radius: 10px;
    background-color: white;
   
}

.tab {
   text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    
    border-radius: 3px;

}
.tab:hover{
    box-shadow: 5px 10px 20px gray;
}

.main_content {
    
    padding-top:20px;
    padding-bottom: 20px;
    height: auto;
}
#nghe {
    width: 100%;
    text-align: center;
}
.bt {
    width:100%;
    height:50px;;
}
.bt:hover {
   color: red;
}
.catalogue:hover{
    color: aquamarine;
    box-shadow: 10px 10px 20px gray;
}
.da {
    display: none;
}
.kc_audio_da {
    margin-top: 20px;
}

